name: Deploy FixItNow-Backend to Azure

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name ${{ secrets.ACR_NAME }}

    - name: Build Docker image
      run: |
        IMAGE=${{ secrets.ACR_NAME }}.azurecr.io/fixitnow-backend:${{ github.sha }}
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV
        docker build -t $IMAGE .

    - name: Push Docker image
      run: docker push $IMAGE

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
        images: ${{ env.IMAGE }}
